  name: Build and publish Docker image
  on:
    push:
      branches: [ main ]

  permissions:
    contents: read
    packages: write

  jobs:
    build-and-push:
      runs-on: ubuntu-latest
      concurrency:
        group: build-and-push-${{ github.ref }}
        cancel-in-progress: true
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Lowercase repository name
          run: |
            echo "REPO_LOWER=$(echo \"$GITHUB_REPOSITORY\" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v2

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2

        - name: Login to GitHub Container Registry
          uses: docker/login-action@v2
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push Docker image
          uses: docker/build-push-action@v4
          with:
            context: .
            file: ./Dockerfile
            push: true
            platforms: linux/amd64,linux/arm64
            tags: |
              ghcr.io/${{ env.REPO_LOWER }}:latest
              ghcr.io/${{ env.REPO_LOWER }}:${{ github.sha }}
            cache-from: type=gha
            cache-to: type=gha,mode=max
